{% extends 'main.html'  %}

{% block title  %}
     {{ title }}
{% endblock %}

{% block body  %}
 <div class="container-xl">
      <form class="form-inline mt-2 mt-md-0" id="search" action="{{ url_for('schedule', stock=stock) }}" method="post">
        <input class="form-control mr-sm-2" name="symbol" value="" type="text" placeholder="Пошук" aria-label="Пошук" required="">
        <button form="search" class="btn btn-outline-success my-2 my-sm-0" type="submit" formmethod="post">Пошук</button>
      </form>

    <body class="text-center">
        <ul class="list-inline" style="color:#BDB76B">
        <h3> {{ title }} </h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li><h3>{{ message }}</h3></li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </ul>
        <label><input type="checkbox" value="daily" name="remember"> Денний</label>
        <label><input type="checkbox" value="weekly" name="remember"> Тижневий</label>
        <label><input type="checkbox" value="monthly" name="remember"> Місячний</label>
       <img src="/static/apple_march_2020.png"  width="880" height="425" alt="{{ symbol }}">
    </body>
 </div>
{% endblock %}